.footer {
  background-color: #0e0e0e;
  color: white;
}

.footerContainer {
  display: flex;
  padding: 32px 0;
  justify-content: space-between;
}

.footerLinks {
  display: flex;
  gap: 10px;
}

.footerLinks a {
  transition: color 0.3s ease;
}

.footerLinks a:hover {
  color: var(--color-primary);
}

.footerSectionContainer {
  display: flex;
  justify-content: space-between;
  padding-bottom: 48px;
  position: relative;
  width: 100%;
}

.footerContent {
  max-width: 530px;
  line-height: 25px;

  display: flex;
  flex-direction: column;
  gap: 25px;
}

.footerContent p {
  font-size: 15px;
  font-weight: 400;
  color: #999999;
}

.footerSocial {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.footerSocial .linkButton img:hover {
  padding: 1px;
}

/* .socialAndCopy {
  background-color: green;
} */

.footerSocial {
  position: absolute;
  top: 30%;
  left: 88%;
  width: 100px;
  /* width: 100%; */
  /* background-color: green; */
}

@media screen and (max-width: 768px) {
  .footerContainer {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  .footerSocial {
    position: relative;
    top: 0;
    left: 0;
  }
  .footerSectionContainer {
    display: flex;
  }
  .socialAndCopy {
    display: flex;
    justify-content: space-between;
  }
}

@media screen and (max-width: 430px) {
  .socialAndCopy {
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
  }

  .footerContainer {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .footerLinks {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
